body {
    margin: 0px;
    padding: 0px;
    user-select: none;
    background-image: url(../img/index7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

:focus {
    outline: 0 !important;
}

.forgot-link {
    text-decoration: none;
    color: dodgerblue;
}

img {
    width: 3%;
    margin-left: 46.5%;
    margin-top: -3.4%;
}

.login-page {
    margin-top: 10%;
    margin-left: 32%;
}

input[type=text] {
    width: 50%;
    height: 5%;
    margin-top: 4%;
    padding: 1%;
    border-radius: 5px;
    background-color: #fffff0;
    border-color: #010b13;
}

input[type=password] {
    width: 50%;
    height: 5%;
    margin-top: 4%;
    padding: 1%;
    border-radius: 5px;
    background-color: #fffff0;
    border-color: #010b13;
}

button {
    font-size: 15pt;
    font-family: arial;
    margin-left: 17%;
    margin-top: 2%;
    width: 10%;
    height: 5%;
    border-radius: 10px;
    border-color: blanchedalmond;
    background-color: #fffff0;
}

#toast {
    visibility: hidden;
    width: 20%;
    margin-left: -10%;
    margin-bottom: 33%;
    height: 0.5%;
    background-color: #333;
    color: #fff;
    font-family: arial;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#toast.make {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
